<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>joseph mclaughlin</title>
  <meta name="description" content="This page has some of my favourite pictures that I've taken.">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="author" content="Joseph McLaughlin">
  <link rel="stylesheet" href="{{ url_for('static', filename='photo.css', version='1.01') }}">
  <script type="module" src="{{ url_for('static', filename='photo.js', version='1.01') }}"></script>
</head>
<body>
  <a href="/">
    <div class="banner">⇦</div>
  </a>
  <div id="photos">
  </div>
  <div id="loading"></div>
</body>
</html>
