<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>joseph mclaughlin</title>
  <meta name="description" content="This page has some of my favourite pictures that I've taken.">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="author" content="Joseph McLaughlin">
  <link rel="stylesheet" href="{{ url_for('static', filename='photo.css', version='1.01') }}">
</head>
<body>
  <a href="/">
    <div class="banner">⇦</div>
  </a>
  <div class="photos">
    <img src="/static/photography/1.jpg">
    <img src="/static/photography/2.jpg">
    <img src="/static/photography/1.jpg">
    <img src="/static/photography/2.jpg">
    <img src="/static/photography/1.jpg">
    <img src="/static/photography/2.jpg">
    <img src="/static/photography/1.jpg">
    <img src="/static/photography/2.jpg">
    <img src="/static/photography/1.jpg">
    <img src="/static/photography/2.jpg">
  </div>
  <div class="loading"></div>
</body>
</html>
